@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Main Content Section -->
<main>
    <div class="container">
        <h2 class="section-title">Chọn loại hình du lịch</h2>
        <div class="card-container">
            <!-- Card 1 -->
            <div class="card">
                <div class="card-img-container">
                    <img src="https://images.unsplash.com/photo-1542291026-7eec264c27ff?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1000&q=80" alt="Sản phẩm 1" class="card-img">
                </div>
                <div class="card-content">
                    <h3 class="card-title">Sản Phẩm 1</h3>
                    <p class="card-text">Mô tả ngắn về sản phẩm 1. Đây là một sản phẩm chất lượng cao với nhiều tính năng nổi bật.</p>
                 <button class="card-button">@Html.ActionLink("Chi tiết","Details","Home")</button>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="card">
                <div class="card-img-container">
                    <img src="https://images.unsplash.com/photo-1505740420928-5e560c06d30e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1000&q=80" alt="Sản phẩm 2" class="card-img">
                </div>
                <div class="card-content">
                    <h3 class="card-title">Sản Phẩm 2</h3>
                    <p class="card-text">Mô tả ngắn về sản phẩm 2. Sản phẩm này được thiết kế đặc biệt để đáp ứng nhu cầu của người dùng.</p>
                    <button class="card-button">@Html.ActionLink("Chi tiết", "Details", "Home")</button>
                </div>
            </div>



     
        </div>
    </div>
</main>