@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Main Content Section -->
<main>
    <div class="container">
        <h2 class="section-title">Giới thiệu về giải thuật</h2>
        
    </div>
</main>